/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --white: #fff8f3;
  --accent: #fd6e0a;
  --dark: #181818;
  --gray: #474747;
  --secondary-gray: #757575;
}

/* Common styles */
.common-btn,
.outline-btn {
  padding: 16px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  cursor: pointer;
  transition: 0.2s ease;
}

.common-btn {
  background: var(--accent);
  border-radius: 5px;
  color: #ffffff;
  border: none;
}

.common-btn:hover {
  background: #e05f00;
}

.outline-btn {
  background: var(--white);
  color: var(--accent);
  border: 1px solid var(--accent);
}

.outline-btn:hover {
  background: var(--accent);
  color: var(--white);
  border-radius: 5px;
}

.common-btn:active,
.outline-btn:active {
  transform: scale(0.97);
}

.container {
  max-width: 1140px;
  margin: auto;
}

/* Navbar */
header {
  background: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 51px 0;
}

.logo {
  font-size: 45px;
  font-weight: 800;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
}

.logo span {
  color: var(--accent);
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  color: var(--gray);
  padding: 16px 10px;
  border-radius: 5px;
  transition: 0.2s ease;
}

ul li a:hover {
  background: var(--accent);
  color: #ffffff;
}

/* Hero Section Style */
.hero-parent-root {
  background: var(--white);
  /* margin-bottom: 100px; */
  overflow: hidden;
}

/* Descendant Selector */
.hero-parent-root .hero-parent-h2 {
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 33px;
  color: #181818;
  opacity: 0.1;
}

.hero-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left .hero-left-p-1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  font-style: normal;
  color: var(--gray);
  margin-bottom: 10px;
}

.hero-left h2 {
  font-size: 85px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
  margin-bottom: 30px;
}

.hero-left p {
  max-width: 585px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  color: var(--secondary-gray);
}

.hero-left-btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

/* Hero Image */
.hero-right {
  position: relative;
  margin: 0 auto;
}

.hero-right .hero-right-img {
  width: 584px;
  height: 676px;
  position: relative;
  bottom: 0;
  left: 20%;
  z-index: 5;
}

.hero-right .hero-right-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Group Selector */
.hero-right .hero-right-bg,
.hero-right .hero-right-bg-1,
.hero-right .hero-right-bg-2 {
  position: absolute;
  bottom: 0;
  background: var(--accent);
  overflow: hidden;
}

.hero-right .hero-right-bg {
  width: 698px;
  height: 249px;
  border-radius: 249px 249px 0 0;
  left: 0;
  transform: translateX(15%);
  opacity: 0.2;
  z-index: 3;
}

.hero-right .hero-right-bg-1 {
  width: 870px;
  height: 435px;
  border-radius: 435px 435px 0 0;
  left: 0;
  transform: translateX(3%);
  opacity: 0.15;
  z-index: 2;
}

.hero-right .hero-right-bg-2 {
  width: 1036px;
  height: 518px;
  border-radius: 518px 518px 0 0;
  position: absolute;
  left: -10%;
  opacity: 0.1;
  z-index: 1;
}

/* About Section */
.about-parent {
  background-color: var(--white);
  height: 550px;
  margin: 130px auto;
  padding: 131px 156px;
  border-radius: 10px;
  text-align: center;
}

.about-parent h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
  margin-bottom: 36px;
}

.about-parent p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  color: var(--secondary-gray);
  margin-bottom: 30px;
}

.about-box-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.about-box-parent .about-box p {
  font-size: 20px;
  font-weight: 400;
  line-height: 0.5;
  font-style: normal;
  color: var(--secondary-gray);
}

.about-box-parent .about-box h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 0.5;
  font-style: normal;
  color: var(--gray);
}

/* What I Do Section */
.what-i-do-parent {
  margin: 130px auto;
  text-align: center;
}

.what-i-do-parent h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
  margin-bottom: 36px;
}

.what-i-do-parent p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  color: var(--secondary-gray);
  margin-bottom: 50px;
}

.what-i-do-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.what-i-do-card-container .what-i-do-card {
  background: #ffffff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
  text-align: left;
  width: 267px;
  height: 377px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.2s ease;
}

.what-i-do-card-container .what-i-do-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.2);
}

.what-i-do-card-container .what-i-do-card h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
  margin-top: 30px;
  margin-bottom: 23px;
}

.what-i-do-card-container .what-i-do-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  font-style: normal;
  color: var(--secondary-gray);
}

.what-i-do-card .what-i-do-card-icon {
  display: flex;
  justify-content: space-center;
  align-items: center;
  height: 44px;
  width: 100%; /* let it stretch to the card's full width instead of 44px */
  font-size: 44px; /* controls the actual icon size */
  /*  color: var(--accent); */
}

/* Summary Section */
.summary-parent {
  margin: 130px auto;
  text-align: center;
}

.summary-parent h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
  margin-bottom: 119px;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 71px;
  margin-bottom: 50px;
}

.summary-grid-card h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--gray);
  margin-bottom: 35px;
  text-align: left;
}

.summary-grid-card .summary-grid-content h4 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--gray);
  margin-top: 30px;
  margin-bottom: 14px;
  text-align: left;
}

.summary-grid-card .summary-grid-content h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  font-style: normal;
  color: var(--secondary-gray);
  margin-bottom: 23px;
  text-align: left;
}

.summary-grid-card .summary-grid-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  font-style: normal;
  color: var(--secondary-gray);
  margin-bottom: 30px;
  text-align: left;
}

/* My Amazing Work Section */
.my-amazing-work-parent {
  margin: 130px auto;
  text-align: center;
}

.my-amazing-work-parent h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
  margin-bottom: 56px;
}

.gallery {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-template-areas:
    "one two three"
    "four two six"
    "four five six";
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-1 {
  grid-area: one;
}
.box-2 {
  grid-area: two;
}
.box-3 {
  grid-area: three;
}
.box-4 {
  grid-area: four;
}
.box-5 {
  grid-area: five;
}
.box-6 {
  grid-area: six;
}

/* Footer Section */
footer {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 117px;
  background-color: var(--white);
  border-radius: 12px;
  padding: 50px;
  text-align: center;
}

.footer-left h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
  margin-bottom: 26px;
}

.footer-left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  font-style: normal;
  color: var(--gray);
  /*  margin-bottom: 30px; */
}

.footer-icon-parent {
  margin-top: 30px;
}

.footer-icon-parent span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  margin-right: 10px;
  border-radius: 50%;
  background: #fff;
  color: var(--accent);
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.footer-icon-parent span:hover {
  background: var(--accent);
  color: white;
  transform: translateY(-3px);
}

footer form {
  /* background: #ffffff; */
  text-align: left;
  margin-top: 34px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
}

footer form h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
}

footer form input,
footer form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 24px;
  border-radius: 8px;
  border: 1px solid #eee;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

footer form input:focus,
footer form textarea:focus {
  border-color: var(--accent);
  box-shadow: 0 0 0 2px rgba(253, 110, 10, 0.1);
}

footer form textarea {
  resize: vertical;
  min-height: 120px;
}
