/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --white: #fff8f3;
  --accent: #fd6e0a;
  --dark: #181818;
  --gray: #474747;
  --secondary-gray: #757575;
}

/* Common styles */
.common-btn,
.outline-btn {
  padding: 16px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  cursor: pointer;
  transition: 0.2s ease;
}

.common-btn {
  background: var(--accent);
  border-radius: 5px;
  color: #ffffff;
  border: none;
}

.common-btn:hover {
  background: #e05f00;
}

.outline-btn {
  background: var(--white);
  color: var(--accent);
  border: 1px solid var(--accent);
}

.outline-btn:hover {
  background: var(--accent);
  color: var(--white);
  border-radius: 5px;
}

.common-btn:active,
.outline-btn:active {
  transform: scale(0.97);
}

.container {
  max-width: 1140px;
  margin: auto;
}

/* Navbar */
header {
  background: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 51px 0;
}

.logo {
  font-size: 45px;
  font-weight: 800;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
}

.logo span {
  color: var(--accent);
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  color: var(--gray);
  padding: 16px 10px;
  border-radius: 5px;
  transition: 0.2s ease;
}

ul li a:hover {
  background: var(--accent);
  color: #ffffff;
}

/* Hero Section Style */
.hero-parent-root {
  background: var(--white);
  /* margin-bottom: 100px; */
  overflow: hidden;
}

/* Descendant Selector */
.hero-parent-root .hero-parent-h2 {
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 33px;
  color: #181818;
  opacity: 0.1;
}

.hero-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left .hero-left-p-1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  font-style: normal;
  color: var(--gray);
  margin-bottom: 10px;
}

.hero-left h2 {
  font-size: 85px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
  margin-bottom: 30px;
}

.hero-left p {
  max-width: 585px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  color: var(--secondary-gray);
}

.hero-left-btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

/* Hero Image */
.hero-right {
  position: relative;
  margin: 0 auto;
}

.hero-right .hero-right-img {
  width: 584px;
  height: 676px;
  position: relative;
  bottom: 0;
  left: 20%;
  z-index: 5;
}

.hero-right .hero-right-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Group Selector */
.hero-right .hero-right-bg,
.hero-right .hero-right-bg-1,
.hero-right .hero-right-bg-2 {
  position: absolute;
  bottom: 0;
  background: var(--accent);
  overflow: hidden;
}

.hero-right .hero-right-bg {
  width: 698px;
  height: 249px;
  border-radius: 249px 249px 0 0;
  left: 0;
  transform: translateX(15%);
  opacity: 0.2;
  z-index: 3;
}

.hero-right .hero-right-bg-1 {
  width: 870px;
  height: 435px;
  border-radius: 435px 435px 0 0;
  left: 0;
  transform: translateX(3%);
  opacity: 0.15;
  z-index: 2;
}

.hero-right .hero-right-bg-2 {
  width: 1036px;
  height: 518px;
  border-radius: 518px 518px 0 0;
  position: absolute;
  left: -10%;
  opacity: 0.1;
  z-index: 1;
}

/* About Section */
.about-parent {
  background-color: var(--white);
  height: 550px;
  margin: 130px auto;
  padding: 131px 156px;
  border-radius: 10px;
  text-align: center;
}

.about-parent h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  color: var(--dark);
  margin-bottom: 36px;
}

.about-parent p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  color: var(--secondary-gray);
  margin-bottom: 30px;
}

.about-box-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.about-box-parent .about-box p {
  font-size: 20px;
  font-weight: 400;
  line-height: 0.5;
  font-style: normal;
  color: var(--secondary-gray);
}

.about-box-parent .about-box h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 0.5;
  font-style: normal;
  color: var(--gray);
}
